@charset "UTF-8";
/* Simple grid system  @ http://css-tricks.com/dont-overthink-it-grids/ */
/* Note, there are two max width grid systems used depending on page layout.*/


/* Grid A --------------------------------------------------------------------*/
/* Grid system to define inner content with a MAX width of 1200px */
/* Mobile styles */

.grid_fixed {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding: 0 40px;
}


/* ------ 2 Column widths ------ */

.content_col-1-2 {
  	width: 100%;
		box-sizing: border-box;
}
.content_col-2-2 {
  	width: 100%;
		box-sizing: border-box;
}

/* ------ 3 Column widths ------ */

.content_col-1-2 {
  	width: 100%;
		box-sizing: border-box;
}
.content_col-2-2 {
  	width: 100%;
		box-sizing: border-box;
}



/* ------ Float -------------- */


[class*='col-'] {
	float: left;
}


/* ------ Clear ------- */

.grid_fixed:after {
  	content: "";
  	display: table;
  	clear: both;
}



/*----- Desktop ------ */

@media only screen and (min-width: 700px) {

	.grid_fixed {
		width: 100%;
	}

	.genericText {
		max-width: 42%;
		float: right;
	}

	.genericText_left {
		max-width: 42%;
		float: left;
	}


	/* ------ 2 Column-grid ------ */

	.content_col-1-2 {
		width: 50%;
		box-sizing: border-box;
	}

	.content_col-2-2 {
	  width: 100%;
		box-sizing: border-box;
	}


	/* ------ Margin/Padding ----- */

	[class*='content_col-1-2'] {
	  	padding-right: 20px;
	}

	[class*='content_col-1-2']:last-of-type {
	  	padding-right: 0;
			padding-left: 20px;
	}

	.end {
		padding-right: 0;
	}

}




	/* Grid B --------------------------------------------------------------------*/
	/* Grid system to define inner content with a MAX width of 1024px */
	/* Mobile */


	.grid_fixed_1024 {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
		padding: 0 40px;
	}


	/* ------ 2 Column widths ------ */

	.grid_1024_col-1-2 {
	  	width: 100%;
			box-sizing: border-box;
			margin-left: auto;
			margin-right: auto;
			padding: 0 40px;
	}

	.grid_1024_col-2-2 {
	  	width: 100%;
			box-sizing: border-box;
	}

	.grid_1024_col-1-2_right {
	  	width: 100%;
			box-sizing: border-box;
	}


	/* ------ 3 Column-grid ------ */

	.grid_1024_col-1-3 {
		width: 50%;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
	}


	/*------ Padding ------------- */

	/* 2 column grid */

	[class*='grid_1024_col-1-2'] {
			padding-right: 40px;
	}

	/* 3 column */

	[class*='grid_1024_col-1-3'] {
			padding-left: 20px;
			padding-right: 20px;
	}



	/* ------ Float -------------- */

	[class*='col-'] {
		float: left;
	}

	.right {
		float: right;
	}


	/* ------ Clear ------- */

	.grid_fixed_1024:after {
	  	content: "";
	  	display: table;
	  	clear: both;
	}



/*----- Desktop & up ------ */

@media only screen and (min-width: 700px) {

	.grid_fixed_1024 {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		box-sizing: border-box;
	}

	.genericText_1024 {
		max-width: 46%;
		float: right;
	}


	/* ------ 2 Column-grid ------ */

	.grid_1024_col-1-2 {
		width: 49%;
		box-sizing: border-box;
	}

	.grid_1024_col-2-2 {
		width: 100%;
		box-sizing: border-box;
	}

	.grid_1024_col-1-2_right {
		width: 48%;
		box-sizing: border-box;
	}


	/* ------ 3 Column-grid ------ */

	.grid_1024_col-1-3 {
		width: 33%;
		box-sizing: border-box;
	}

	.grid_1024_col-2-3 {
		width: 66%;
		box-sizing: border-box;
	}

	.grid_1024_col-3-3 {
		width: 100%;
		box-sizing: border-box;
	}


	/* ------ Margin/Padding ----- */

	/* 2 column grid */

	[class*='grid_1024_col-1-2'] {
			padding-right: 40px;
			padding-left: 0;
	}

	[class*='grid_1024_col-1-2']:last-of-type {
			padding-right: 0;
			padding-left: 40px;
	}



	/* 3 column */

	[class*='grid_1024_col-1-3'] {
			padding-left: 20px;
			padding-right: 20px;
	}

	[class*='grid_1024_col-1-3']:first-of-type {
			padding-left: 0;
			padding-right: 40px;
	}

	[class*='grid_1024_col-1-3']:last-of-type {
			padding-right: 0;
			padding-left: 40px;
	}

	.end {
		padding-right: 0;
	}

}
