/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

html, body { height: 100%; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #1A1A1A;
    margin: 60px auto 0 auto;
    padding: 0;
    width: 5%;
}

hr.reverse {
	border-top: 3px solid white;
}


/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* --- LINKS ----------------------------------------------------
-------------------------------------------------------------- */


    	/* --- STANDARD --- */

    a {
			color: #555555;
			text-decoration: none;
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: block;
		}
    	a:visited {
			color: #555555;
		}
    	a:hover {
			color: #4db688;
		}
    	a:focus {
			outline: thin dotted;
		}
    	a#selected {
			color: #4db688;
		}

    	/* --- REVERSE --- */

    	a.reverse {
			color: white;
		}
    	a.reverse:visited {
			color: white;
		}
    	a.reverse:hover {
			color: black;
		}
    	a.reverse:focus {
			outline: thin dotted;
		}

    	/* --- SELECTED --- */

    	a.selected {
			color: #4db688;
		}


	 	/* --- SPECIAL --- */

		a.special {
			text-decoration: underline;
			font-size: 1em;
			text-transform: none;
			letter-spacing: 1px;
			display: block;
			text-align: center;
		}


    /* --- CARDS --- */

    a h3 {
      text-transform: none;
    }

    .card {
        position: relative;
        height: auto;
        width: 100%;
    }

    .card_hover {
      width: 100%;
      height: auto;
      background-color: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.0;
      transition-duration: 0.25s, 0.25s;
      transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1), cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: initial, initial;
    }

    .card:hover .card_hover {
      opacity: 1.0;
    }

    .card_hover h3 {
      padding: 0 0 0 4%;
    }



/* --- Typography  ----------------------------------------------
-------------------------------------------------------------- */


  	body, button, input, select, textarea {
			color: #333333;
		}

    body {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1em;

    }


		/* --- HEADERS --------------------------------------- */

		h1 {
			color: black;
			font-size: 2.25em;
			font-weight: 800;
			text-align: left;
			margin: .3em 0;
		}

    h2 {
     letter-spacing: 0.085em;
     color: #000000;
     font-size: 3.75em;
     font-weight: 900;
     text-align: left;
   }

  	h3 {
			letter-spacing: 0.04em;
			font-size: 1.875em;
			font-weight: 900;
			color: #000000;
      text-align: left;
      margin: 8px 0;
      text-transform: none;
		}

  	h4 {
			letter-spacing: 1px;
			font-size: 1em;
			font-weight: 600;
			color: #555555;
			margin-bottom: 20px;
			text-align: left;
		}


		/* --- BODY ------------------------------------------ */

		p {
			font-size: 1em;
			line-height: 1.75em;
			font-weight: 700;
			width: 100%;
			margin: 0 auto;
			color: #3a3a3a;
			text-align: left;
		}

		b, strong {
			font-weight: bold;
		}

		.center {
			text-align: center;
		}  /* align text center */

		.quote {
			font-size: 1.25em;
			line-height: 1.65em;
			width: 100%;
		}

		.subquote {
			font-size: inheret;
			width: 100%;
			text-align: left;
		}

		small {
			font-size: 1.05em;
			text-align: left;
			line-height: auto;
			font-weight: 400;
			color: #000000;
		}

		.reverse {
			color: white;
		}


		/* --- BODY (special) -------------------------------- */

		abbr[title] {
			border-bottom: 1px dotted;
		}

		blockquote {
			margin: 1em 40px;
		}

		dfn {
			font-style: italic;
		}

		ins {
			background: #ff9;
			color: #000;
			text-decoration: none;
		}

		mark {
			background: #ff0;
			color: #000;
			font-style: italic;
			font-weight: bold;
		}

  		/* Redeclare monospace font family: h5bp.com/j */
  		pre, code, kbd, samp {
			font-family: monospace, monospace;
			_font-family: 'courier new', monospace;
			font-size: 1em;
		}

  		/* Improve readability of pre-formatted text in all browsers */
  		pre {
			white-space: pre;
			white-space: pre-wrap;
			word-wrap: break-word;
		}

  		q { q
			uotes: none;
		}
  		q:before, q:after {
			content: "";
			content: none;
		}

  		/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
  		sub, sup {
			font-size: 75%;
			line-height: 0;
			position: relative;
			vertical-align: baseline;
		}
  		sup {
			top: -0.5em;
		}
  		sub {
			bottom: -0.25em;
		}

		.greybkground {
			background-color: #F6F6F6;
		}

		.greyborder {
			border: 1px solid #EBEBEB;
		}



/* --- LISTS ----------------------------------------------------
-------------------------------------------------------------- */


	ul, ol {

	}

	ol li {
		padding-bottom: 20px;
	}





/* --- PAGE STYLES  ---------------------------------------------
-------------------------------------------------------------- */


  /* --- POSITIONING --------------------------------------- */

      /* --- Relative --- */

      .relative {
        position: relative;
      }

      .absolute {
        position: relative;
      }



	/* --- LAYOUT -------------------------------------------- */


	    /* --- Header --- */

			header {
				height: 60px;
				position:fixed;
				background-color: #ffffff;
				z-index: 100;
        top: 0;
			}

			header.sticky_header {
				position: inherit;
			}

			header.intro_hidden {
				opacity: 0;
			}

			.logo {
				background-image: url("../img/Logo_hd_intro.svg");
				background-repeat: no-repeat;
				background-position: center left;
				height: 60px;
				width: 60px;
				float: left;
				display: block;
				margin-left: 4%;
			}

			nav {
				float: right;
				height: 100%;
				margin-right: 4%;
			}

			nav ul {
				height: 100%;
				padding: 5px 0 0 0;
			}

			nav li {
				padding: 0 0 0 40px;
				float: left;
			}


			/* --- Footer --- */

			footer {
				background-color: #191919;
				padding: 80px 0 80px 0;
			}

			footer div {
				/*width: 200px;
				margin: auto;
				padding: 100px 0 50px 0;*/
			}

			.logo-footer {
				background-image: url("../img/logo_grey_circle.svg");
				background-repeat: no-repeat;
				background-position: center left;
				background-size: 100px auto;
				height: 100px;
				width: 100px;
				margin: auto;
				display: block;
			}

			.copyright {
				text-align: center;
				color: #555555;
				margin-top: 20px;
			}


	/* --- SPACERS ---------------------------------------- */


    .spacer_140 {
      margin-bottom: 100px;
    }

		.spacer_120 {
			margin-bottom: 80px;
		}

		.spacer_100 {
			margin-bottom: 60px;
		}

		.spacer_80 {
			margin-bottom: 40px;
		}

		.spacer_60 {
			margin-bottom: 20px;
		}

		.spacer_40 {
			margin-bottom: 20px;
		}

		.spacer_20 {
			margin-bottom: 10px;
		}

		.spacer_4 {
			margin-bottom: 4px;
		}




    /* --- MAIN: HOME ------------------------------------- */

    /* --- INTRO SECTION ------------------------------------- */


    #intro {

    }


    div#intro #content {
      padding: 100px 0 0 25px;
    }

    div#intro #logo {
      width: 100px;
    }

    div#intro .text {
      width: 65%;
      float: left;
      margin-bottom: 80px;
    }

    div#intro #nav ul {
      height: 100%;
      padding: 5px 0 0 0;
    }

    div#intro #nav li {
      padding: 0 40px 0 0;
      float: left;
      list-style: none;
    }

    div#parallax_upper_left {
      height: 100%;
      width: 100%;
      background: url(../img/home_texture_green_left.png) no-repeat;
      position: absolute;
      left: -160px;
      top: -200px;
      z-index: -1;
    }

    div#parallax_lower_left {
      height: 100%;
      width: 100%;
      background: url(../img/home_texture_X.png) 0 100px no-repeat;
      position: absolute;
      left: -25%;
      top: 40%;
      z-index: -2;
    }

    div#parallax_upper_right {
      height: 100%;
      width: 100%;
      background: url(../img/home_texture_X.png) no-repeat;
      position: absolute;
      left: 88%;
      top: -5%;
      z-index: -3;
    }

    div#parallax_middle {
      height: 100%;
      width: 100%;
      background: url(../img/home_texture_green_right.png) no-repeat;
      position: absolute;
      left: 45%;
      top: 50%;
      z-index: -4;
    }

    #intro_more {
      margin-top: 200px;
    }

    #intro_more h3 {
      padding: 20px 0 20px 0;
    }

    .more_info {
      left: 55%;
      top: -40%;
    }




  	/* --- WORK --------------------------------------- */

		.work {
      background-color: #191919;
      padding: 140px 0 200px 0;
    }


    figure img {
			display: block;
			width: 100%;
			height: auto;
		}

    figcaption {
			font-size: 0.9em;
			line-height: 1.65em;
			font-weight: 400;
			padding: 30px;
			color: #aaaaaa;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

    .work_grid   {
      left: 52%;
      top: -20%;
    }

    .work p {
      padding: 20px 0 0 0;
    }






	/* --- ABOUT -------------------------------------- */


		.about {
			background-color: #4db688;
			padding: 60px 0;
		}

		.about p, .about h1, .about h4, .about {
			color: white;
		}

		.about div {
			max-width: 1024px;
			margin: 0 auto;
		}

		.about hr {
			margin: 60px auto 60px auto;
		}

		.about p {
			width: 88%;
		}





    /* --- CONTENT: DETAIL PAGES ----------------------------- */


		.content-container {
			padding-top: 60px;
		}

		section img {
			display: block;
			width: 100%;
			height: auto;
		}

		.section {
			position: relative;
		}

		.sectionTitle {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 26% 0 0 .5%;
		}

		.sectionTitle h3,
		.sectionTitle h4 {
			text-align: center;
			padding-left: 0;
			margin: 0;
			color: white;
		}

		.description {
			text-align: left;
      margin-top: 100px;
		}

		.textblock {
			background-color: rgb(250,250,250);
			padding: 40px 10px 40px 20px;
			text-align: left;
		}



		/* --- CONTENT: FOTORAMA CUSTOME STYLES ------------- */


		.fotorama {
			data-autoplay: true;
			data-transition: crossfade;
			data-arrows: false;
     		data-click: true;
     		data-swipe: false;
		}



		/* ------ Clear ------- */

		.clear {
 			content: "";
  			display: table;
  			clear: both;
		}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


    /*----- Tablet & up ----------------------------------------------------- */

	@media only screen and (min-width: 35em) {


	    /*--- Typography ---------------------------------------------------- */

		h1 {
			color: black;
			font-size: 4.25em;
			font-weight: 800;
			text-align: left;
			margin: .3em 0;
      letter-spacing: 2px;
      line-height: 1em;
		}

    h2 {
     letter-spacing: 0.085em;
     color: #000000;
     font-size: 3.75em;
     font-weight: 900;
     letter-spacing: 1px;
     text-align: left;
   }

		/* -- old h2 styles -- */
    /* --
     h2 {
			letter-spacing: 0.085em;
			color: #AAAAAA;
			font-size: 1em;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;
      text-align: left;
		}
    -- */

    h3 {
			letter-spacing: 0.04em;
			font-size: 1.875em;
			font-weight: 700;
			color: #000000;
      text-align: left;
		}

  	h4 {
			letter-spacing: 1px;
			font-size: 1em;
			font-weight: 600;
			color: #555555;
			margin-bottom: 20px;
			text-align: left;
		}

		p {
			font-size: 1.4em;
			line-height: 1.5em;
			font-weight: 400;
			width: 100%;
			text-align: left;
		}

		.quote {
			font-size: 2em;
			line-height: 1.75em;
		}

		/*-- old
    .intro {
			font-size: 3.75em;
		}
    --*/


	    /*--- Elements -------------------------------------------------- */

		hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 4px solid #4DBC8E;
			margin: 40px auto 20px 4px;
			padding: 0;
			width: 10%;
		}

		.about hr {
			margin: 120px auto 100px auto;
		}

		.textblock {
			background-color: rgb(250,250,250);
			padding: 80px 80px 60px 100px;
			text-align: left;
		}

		/* --
    .description p {
			padding-top: 30px;
		}
    -- */

		.about {
			padding: 150px 0;
		}




	    /* --- SPACERS ---------------------------------------- */


		.spacer_120 {
			margin-bottom: 120px;
		}

		.spacer_100 {
			margin-bottom: 100px;
		}

		.spacer_80 {
			margin-bottom: 80px;
		}

		.spacer_60 {
			margin-bottom: 60px;
		}

		.spacer_40 {
			margin-bottom: 40px;
		}

		.spacer_20 {
			margin-bottom: 20px;
		}

		.spacer_4 {
			margin-bottom: 4px;
		}



		/* --- Header --- */

		header {
			height: 100px;
		}

		.logo {
			background-size: 75px auto;
			height: 100px;
			width: 100px;
		}

		nav {
			float: right;
			height: 100%;
			margin-right: 4%;
		}

		nav ul {
			height: 100%;
			padding: 14px 0 0 0;
		}

		nav li {
			padding: 15px;
		}


    /* --- POSITIONING --------------------------------------- */

        /* --- Relative --- */

        .relative {
          position: relative;
        }

        .absolute {
          position: absolute;
        }


		/* --- Detail Pages --- */

		.content-container {
			padding-top: 100px;
		}

	}



    /*----- Desktop & up ---------------------------------------------------- */

	@media only screen and (min-width: 80em) {


		.hero1a {
			background-attachment: fixed;
			/*background-image: url("../img/hero_2.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			position: relative;*/
		}

		.hero1b {
			background-attachment: fixed;
			/*background-image: url("../img/logo_circle_blk.png");
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			background-size: 250px auto;
			background-position: 50%;*/
		}

		.hero2a {
			display: block;
		}

		.hero2b {
			opacity: 0;
		}

		/*.hero2b {
			background-color: white;
			background-image: url("../img/logo_green_circle.svg");
			background-repeat: no-repeat;
			background-size: 250px auto;
			background-position: 50%;
			height: 300px;
		}*/

		/*-- old
    .intro {
			opacity: 0;
			margin: 10px auto 0 auto;
			/*color: black;
			font-size: 2em;
			font-weight: 400;
			text-align: center;
			width: 80%;
		}
    --*/


	}





/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
